// Basic scaffolding

@import "compass/typography";
@import "compass/css3";

@import "partials/_browsers";
@import "partials/_colors";
@import "partials/_extendables";
@import "partials/_functions";
@import "partials/_mixins";
@import "partials/_variables";

@import "compass-pattern-primer/reset"; 

@import "compass-pattern-primer/partials/_mixins";
@import "compass-pattern-primer/partials/_variables";
@import "compass-pattern-primer/partials/_extendables";
@import "compass-pattern-primer/partials/_functions";
@import "compass-pattern-primer/partials/_colors"; // generates color scheme table on pattern-primer.html —- good for development but adds a lot of css.
@import "partials/variables/theme/_overrides";

@import "compass-pattern-primer/base/_page";
@import "compass-pattern-primer/base/_typography";
@import "compass-pattern-primer/base/_links";
@import "compass-pattern-primer/base/_forms";
@import "compass-pattern-primer/base/_buttons";

// optional module imports. comment out ones you don't use
@import "compass-pattern-primer/modules/_control";
@import "compass-pattern-primer/modules/_feedback";
@import "compass-pattern-primer/modules/_options";
@import "compass-pattern-primer/modules/_pagination";

@import "base/_page";

@import "modules/_header";
@import "modules/_footer";

@import "layout/_page";

@import "state/_page";
@import "state/_header";
@import "state/_footer";

@import "theme/_page";
@import "modules/_footer";

// some default styling for pattern-primer.html. Most likely you'll want to delete this.
.pattern {
  clear: both;
  overflow: hidden;
  margin: 20px 10px;
  text-align: left;
}
.pattern .display {
  width: 100%;
}