//////////////////////////////
// VARIABLES: For Base styles 
//////////////////////////////




//////////////////////////////
// DEFAULT VARIABLES
//////////////////////////////

// Forms _forms.scss
$forms-background-color: #fff !default;
$forms-border-width: false !default; 
$forms-border-style: solid !default;
$forms-border-color: #ccc !default;
$forms-border-radius: 0.25em !default;
$forms-focus-border-color: #333 !default;
$forms-required-border-color: #666 !default;
$forms-label-focus-background-color: #faedab !default;
