//////////////////////////////
// BASE: Base element styles 
//////////////////////////////

@import "_typography_variables";
@import "_typography_extendables";

h1 {
  @extend %h1;
}

h2 {
  @extend %h2;
}

h3 {
  @extend %h3;
}

h4 {
  @extend %h3;
}

h5 {
  @extend %h3;
}

h6 {
  @extend %h3;
}

b, 
strong {
  font-weight: bold;
}

i, 
em {
  font-style: italic;
}

hr {
  @include border-outline(border, $hr-border-width, $hr-border-style, $hr-border-color);
  height: $hr-height;
  background: $hr-background;
  background-color: $hr-background-rgba;
}

p, 
ul, 
ol, 
hr, 
table, 
form, 
fieldset {
  @include margin-padding(margin, $element-margin);
}

// removed by Meyer reset! why?
ol {
  list-style-type: decimal;
}

ul {
  list-style-type: disc;
}

li {
  list-style-position: $li-list-style-position;
  @include margin-padding(margin, $li-margin, $li-margin-pos);
  text-indent: $li-text-indent;
}

blockquote {
  @include margin-padding(margin, $blockquote-margin);
  @include border-outline(border, $blockquote-border-width, $blockquote-border-style, $blockquote-border-color);
  @include margin-padding(padding, $blockquote-padding);
  font-family: $blockquote-font-family;
  @include bold-italic-uppercase-variant($blockquote-font-bold, $blockquote-font-italic, $blockquote-font-uppercase, $blockquote-font-variant);
  @include type-size($blockquote-font-size, $blockquote-line-height);
  letter-spacing: $blockquote-letter-spacing;
  color: $blockquote-color;
  border-color: $blockquote-border-rgba;
  @include border-radius($blockquote-border-radius);
  
  em {
    @include bold-italic-uppercase-variant($blockquote-em-font-bold, $blockquote-em-font-italic, $blockquote-em-font-uppercase, $blockquote-em-font-variant);
  }
}

figcaption {
  font-family: $figcaption-font-family;
  @include bold-italic-uppercase-variant($figcaption-font-bold, $figcaption-font-italic, $figcaption-font-uppercase, $figcaption-font-variant);
  @include type-size($figcaption-font-size, $figcaption-line-height);
  color: $figcaption-color;
}
article > p,
article section > p {
  @include type-size($article-font-size, $article-line-height);
  word-spacing: $article-word-spacing;
  @include margin-padding(margin, $article-margin);
/*  Does this improve the reading experience?
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  text-align: justify;
*/
}

article footer+p:first-letter,
article section>h2+p:first-letter,
article section>p:first-child:first-letter,
h1+p:first-letter {
  display: $article-fl-display;
  float: $article-fl-float;
  font-family: $article-fl-font-family;
  @include bold-italic-uppercase-variant($article-fl-font-bold, $article-fl-font-italic, $article-fl-font-uppercase, $article-fl-font-variant);
  @include type-size($article-fl-font-size, $article-fl-line-height);
  letter-spacing: $article-fl-letter-spacing;
  @include margin-padding(margin, $article-fl-margin, $article-fl-margin-pos);
  color: $article-fl-color;
  @include border-outline(border, $article-fl-border-width, $article-fl-border-style, $article-fl-border-color);
}

time {
  display: $time-display;
  text-align: $time-text-align;
  font-family: $time-font-family;
  @include bold-italic-uppercase-variant($time-font-bold, $time-font-italic, $time-font-uppercase, $time-font-variant);
  @include type-size($time-font-size, $time-line-height);
  letter-spacing: $time-letter-spacing;
  color: $time-color;
  @include content-before-after($time-content);
}