//////////////////////////////
// VARIABLES: For Modules 
//////////////////////////////

// Feedback
$feedback-background: #d9edf7 !default;
$feedback-padding: 0.125em 1em !default;
$feedback-margin: 1em !default;
$feedback-color: #3A87AD !default; 
$feedback-border-width: false !default; 
$feedback-border-style: solid !default;
$feedback-border-color: #bce8f1 !default;
$feedback-border-radius: 0.5em !default;
$feedback-a-font-bold: true !default; // bold
$feedback-a-font-italic: false !default;
$feedback-a-font-uppercase: false !default;
$feedback-a-font-variant: false !default;
/// Feedback Error
$feedback-error-background: #fcc !default;
$feedback-error-color: #B94A48 !default;
$feedback-error-border-color: #c99 !default;
/// Feedback Warning
$feedback-warning-background: #FFF7BD !default;
$feedback-warning-color: #947D72 !default;
$feedback-warning-border-color: #947D72 !default;