<article class="color-guide">
  <ul>
    <li data-sass="nth($black, 1)"></li>
    <li data-sass="nth($black, 2)"></li>
    <li data-sass="nth($black, 3)"></li>
    <li data-sass="nth($black, 4)"></li>
    <li data-sass="nth($black, 5)"></li>
    <li data-sass="nth($black, 6)"></li>
    <li data-sass="nth($primary, 1)"></li>
    <li data-sass="nth($primary, 2)"></li>
    <li data-sass="nth($primary, 3)"></li>
    <li data-sass="nth($primary, 4)"></li>
    <li data-sass="nth($primary, 5)"></li>
    <li data-sass="nth($primary, 6)"></li>
    <li data-sass="nth($secondary, 1)"></li>
    <li data-sass="nth($secondary, 2)"></li>
    <li data-sass="nth($secondary, 3)"></li>
    <li data-sass="nth($secondary, 4)"></li>
    <li data-sass="nth($secondary, 5)"></li>
    <li data-sass="nth($secondary, 6)"></li>
    <li data-sass="nth($tertiary, 1)"></li>
    <li data-sass="nth($tertiary, 2)"></li>
    <li data-sass="nth($tertiary, 3)"></li>
    <li data-sass="nth($tertiary, 4)"></li>
    <li data-sass="nth($tertiary, 5)"></li>
    <li data-sass="nth($tertiary, 6)"></li>
    <li data-sass="nth($quadrary, 1)"></li>
    <li data-sass="nth($quadrary, 2)"></li>
    <li data-sass="nth($quadrary, 3)"></li>
    <li data-sass="nth($quadrary, 4)"></li>
    <li data-sass="nth($quadrary, 5)"></li>
    <li data-sass="nth($quadrary, 6)"></li>
  </ul>
</article> 