<h6>Level six heading</h6>
<p>
  "The ungracious and ungrateful dog!" cried Starbuck; "he mocks and dares me with the very poor-box I filled for him not five minutes ago!"—then in his old intense whisper—"Give way, greyhounds! Dog to it!"
</p>

<p>
"I tell ye what it is, men"—cried Stubb to his crew—"it's against my religion to get mad; but I'd like to eat that villainous Yarman—Pull—won't ye? Are ye going to let that rascal beat ye? Do ye love brandy? A hogshead of brandy, then, to the best man. Come, why don't some of ye burst a blood-vessel? Who's that been dropping an anchor overboard—we don't budge an inch—we're becalmed. Halloo, here's grass growing in the boat's bottom—and by the Lord, the mast there's budding. This won't do, boys. Look at that Yarman! The short and long of it is, men, will ye spit fire or not?"
</p>