<h1>Heri, inquam, ludis commissis ex urbe profectus veni ad vesperum.</h1>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dolor ergo, id est summum malum, metuetur semper, etiamsi non aderit; Tu quidem reddes; <a href='http://loripsum.net/' target='_blank'>Quorum sine causa fieri nihil putandum est.</a> Bonum integritas corporis: misera debilitas. Sed virtutem ipsam inchoavit, nihil amplius. Videamus animi partes, quarum est conspectus illustrior; </p>

<h2>Duo Reges: constructio interrete.</h2>

  <p><b>Age, inquies, ista parva sunt.</b> Ac tamen hic mallet non dolere. Vulgo enim dicitur: Iucundi acti labores, nec male Euripidesconcludam, si potero, Latine; Tu enim ista lenius, hic Stoicorum more nos vexat. Id enim volumus, id contendimus, ut officii fructus sit ipsum officium. Octavio fuit, cum illam severitatem in eo filio adhibuit, quem in adoptionem D. Quid igitur dubitamus in tota eius natura quaerere quid sit effectum? Tubulum fuisse, qua illum, cuius is condemnatus est rogatione, P. Modo etiam paulum ad dexteram de via declinavi, ut ad Pericli sepulcrum accederem. Facillimum id quidem est, inquam. </p>

  <blockquote cite='http://loripsum.net'>
    Videmus in quodam volucrium genere non nulla indicia pietatis, cognitionem, memoriam, in multis etiam desideria videmus.
  </blockquote>


  <p>Sed haec quidem liberius ab eo dicuntur et saepius. <b>Facillimum id quidem est, inquam.</b> Non autem hoc: igitur ne illud quidem. Certe nihil nisi quod possit ipsum propter se iure laudari. <i>Tu quidem reddes;</i> Primum in nostrane potestate est, quid meminerimus? Atque haec coniunctio confusioque virtutum tamen a philosophis ratione quadam distinguitur. Itaque eos id agere, ut a se dolores, morbos, debilitates repellant. </p>

  <ul>
    <li>Sed id ne cogitari quidem potest quale sit, ut non repugnet ipsum sibi.</li>
    <li>Minime id quidem, inquam, alienum, multumque ad ea, quae quaerimus, explicatio tua ista profecerit.</li>
    <li>Quamquam haec quidem praeposita recte et reiecta dicere licebit.</li>
  </ul>


  <dl>
    <dt><dfn>Certe non potest.</dfn></dt>
    <dd>In enumerandis autem corporis commodis si quis praetermissam a nobis voluptatem putabit, in aliud tempus ea quaestio differatur.</dd>
    <dt><dfn>ALIO MODO.</dfn></dt>
    <dd>Quod non faceret, si in voluptate summum bonum poneret.</dd>
  </dl>


  <ol>
    <li>Tanti autem aderant vesicae et torminum morbi, ut nihil ad eorum magnitudinem posset accedere.</li>
    <li>Eam si varietatem diceres, intellegerem, ut etiam non dicente te intellego;</li>
    <li>Mene ergo et Triarium dignos existimas, apud quos turpiter loquare?</li>
    <li>Qui potest igitur habitare in beata vita summi mali metus?</li>
  </ol>


  <pre>
    $(function() {
        var spinner = $( "#spinner" ).spinner();

        $( "#disable" ).click(function() {
          if ( spinner.spinner( "option", "disabled" ) ) {
            spinner.spinner( "enable" );
          } else {
            spinner.spinner( "disable" );
          }
        });
        $( "#destroy" ).click(function() {
          if ( spinner.data( "ui-spinner" ) ) {
            spinner.spinner( "destroy" );
          } else {
            spinner.spinner();
          }
        });
        $( "#getvalue" ).click(function() {
          alert( spinner.spinner( "value" ) );
        });
        $( "#setvalue" ).click(function() {
          spinner.spinner( "value", 5 );
        });

        $( "button" ).button();
      });
      http://stackoverflow.com/questions/1218390/what-is-your-most-productive-shortcut-with-vim/1220118#1220118
  </pre>