// Basic scaffolding

@import "compass/typography";
@import "compass/css3";

@import "partials/_browsers";
@import "partials/_colors";
@import "partials/_extendables";
@import "partials/_functions";
@import "partials/_mixins";
@import "partials/_variables";

@import "compass-pattern-primer/reset"; 

@import "compass-pattern-primer/partials/"; 
@import "partials/variables/theme/_overrides";

@import "compass-pattern-primer/base";
@import "compass-pattern-primer/modules";

@import "base/_page";

@import "modules/_header";
@import "modules/_footer";

@import "layout/_page";

@import "state/_page";
@import "state/_header";
@import "state/_footer";

@import "theme/_page";
@import "modules/_footer";

// some default styling for pattern-primer.html. Most likely you'll want to delete this.
.pattern {
  clear: both;
  overflow: hidden;
  margin: 20px 10px;
  text-align: left;
}
.pattern .display {
  width: 100%;
}